<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Codebase url</th>
    <th>Description</th>
    <th>Contact email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= link_to project.url, "http://#{project.url}" %></td>
    <td><%= link_to project.codebase_url, "http://#{project.codebase_url}" %></td>
    <td><%= project.description %></td>
    <td><%= project.contact_email %></td>
    <td><%= link_to 'View Project', project %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
