<p id="error"><%= flash[:error] %></p>
      <% @projects.each_slice(2) do |projects| %>

<div class="row-fluid">
    
        <% projects.each do |project| %>
          <div class="span6 project">
            <h3 class="text-center"><%= link_to project.name, project %></h3>
            <p class="proj-url"><%= link_to project.url, "http://#{project.url}" %></p>
            <p class="proj-code"><%= link_to project.codebase_url, "http://#{project.codebase_url}" %></p>
            <div class="text-center">
              <img src="http://placehold.it/600x300">
            </div>
            <div class="content">
              <p class="proj_description"><%= project.description %></p>
            </div>
            <p class="proj_creater_email"><%= mail_to(project.contact_email) %></p>
            <button type="submit" class="btn"><%= link_to 'View Project', project %></button>
          </div>
        <% end %>


</div>
<% end %>


<%= link_to 'New Project', new_project_path %>
